# dependencies
/node_modules
/.pnp
.pnp.js

# testing and coverage
/coverage
/.nyc_output

# next.js build and cache
/.next/
/out/
/.turbo

# production and bundle outputs
/build
/dist

# debug and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
logs/

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# IDEs and editors
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

# Local databases
*.db
*.db-journal
*.sqlite
*.sqlite-journal

